@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Losta Masta";
  src: url("/fonts/lostamasta-light.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Moidugk";
  src: url("/fonts/moidugk.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}




::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #211f1feb;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b2b2b2;
}

.custom-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; 
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.custom-scrollbar::-webkit-scrollbar {
  width: 0.4rem; /* Thin scrollbar */
  background: transparent; /* Background hidden */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent; /* Thumb hidden */
}

.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}

